body {
    font-family: sans-serif;
    background-image: url("/home/shubh/Desktop/webapp/imad-app/ui/wallpaper.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
